.select-image {
  display: flex;
  gap: 1rem;
  background-color: var(--clr-gray);
  padding-block: 2rem;
  max-width: 500px;
  align-self: center;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
  align-items: center;
  padding-inline: 1rem;
}


.select-image button {
  display: grid;
  place-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .16), 0 1px 3px rgba(0, 0, 0, .23);
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding-inline: .5rem;
  width: 100%;
  padding-block: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  /* margin-inline: 1rem; */
}

.select-image button:hover {
  background-color: hsl(0, 11%, 96%);
  color: var(--clr-blue);
}

@media (max-width:300px) {
  .select-image {
    flex-direction: column;
    gap: 1rem;
  }

  .select-image button {
    height: 40px;
  }
}