.show-deleteBtn {
  display: none;
}

.home__section {
  margin-top: 6rem;
  padding-bottom: 10rem;
}

.homepage__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.select-image {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  background-color: var(--clr-gray);
  padding-block: 2rem;
  max-width: 500px;
  align-self: center;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
  align-items: center;
}


.select-image button {
  display: grid;
  place-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .16), 0 1px 3px rgba(0, 0, 0, .23);
  height: 35px;
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding-inline: 1.5rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.select-image button:hover {
  background-color: hsl(0, 11%, 96%);
  color: var(--clr-blue);
}

.browseClick {
  background-color: var(--clr-blue);
  color: var(--clr-gray);
}

.images__container {
  display: grid;
  gap: 1.7rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  /* background-color: red; */
}

.image {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: .5rem;
}

.image .img__container img {
  background-color: green;
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.btns {
  display: flex;
  align-self: center;
  gap: .8rem;
}

.btns>* {
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .16), 0 1px 3px rgba(0, 0, 0, .23);
  box-shadow: 0 1px 3px var(--clr-blue), 0 1px 3px rgba(0, 0, 0, .23);
  background-color: var(--clr-blue);
  border: 2px solid transparent;
  transition: var(--transition);
}

.btns>*:hover {
  background-color: var(--clr-gray);
  border-color: var(--clr-blue);
}