.images__section {
  margin-top: 2rem;
}

.images__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.imgs__container {
  display: grid;
  gap: 1.7rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

.image {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.image .img__container img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}